.generalInformation {
    margin-top: 2%;
    margin-bottom: 1%;
}

.selectCategory {
    width: 100%;
}

.inputNumber {
    width: 100%;
}

.date {
    width: 100%;
}

.textArea {
    margin-top: 1%;
}
